<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/somes/IdeaProjects/Testing/src/test/java/Tests">
        <classes>
            <class name="Tests.Test1">
                <methods>
                    <include name="VerifyGetTitle"/>
                </methods>
            </class>
            <class name="Tests.Test2">
                <methods>
                    <include name="VerifyGetUrl"/>
                </methods>
            </class>
            <class name="Tests.Test3">
                <methods>
                    <include name="RadioVerify"/>
                </methods>
            </class>
            <class name="Tests.Test4">
                <methods>
                    <include name="verifySubmitButtonClickable"/>
                    <include name="dummy"/>
                </methods>
            </class>
            <class name="Tests.Test5">
                <methods>
                    <include name="verifyTextboxAccept"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>