<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/somes/IdeaProjects/Testing/src/test/java/Selenium">
        <classes>
            <class name="Selenium.Get_Current_Page_Title">
                <methods>
                    <include name=""/>
                </methods>
            </class>
            <class name="Selenium.Sample_Testing">
                <methods>
                    <include name="verifylink"/>
                </methods>
            </class>
            <class name="Selenium.alertinterface">
                <methods>
                    <include name="verifyAlert"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>