<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" >
    <listeners>
        <listener class-name="utilities.ExtentListener"/>
    </listeners>
    <test name="RegressionTest">

    <classes>
        <class name="Tests.Test1"></class>

    </classes>

    </test>
</suite>